<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AdressBok.Properties.Settings.AdressBokConnection"
            connectionString="Data Source=LAPTOP-GQTP2CQ6\SQLEXPRESS;Initial Catalog=AdressBok;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>